.step-content {
    margin-bottom: 20px;
    width: 50%;
    border-radius: 15px;
    
  }
  
  .form {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  .custom-input {
    height: 60px; /* Adjust the height as needed */
    background-color: #ffffff;
  }
  
    .btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

.btn-primary {
    background-color: #007bff; 
    color: #fff; 
}

.btn-primary:hover {
    background:linear-gradient( to right,#fe03b4,#ee0202); 
}
.btn-primary:focus {
    outline: none; 
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5); 
}
.example-full-width{
  width: 90%;
}
:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}
